#banner {
    width: 50%;
    margin-top: 1%;
}
#panel_row {
    margin-top: 30px;
}
.panel_title {
	font-size: 14px;
	font-weight: bold;
}
#form-input{
	position: relative;
}
#submit_col {
	position: absolute;
	height: 100%;
	right: 0;
	top: 40%;
}
#submit_button {
	position: absolute;
	right: 30%
}

.title_method {
	text-align: center;
	font-weight: bold;
	color: #456bb2;
	font-size: 14px;
	margin: 0 0 10px 0;
}

.sentence {
	text-align: center;
	font-size: 12px;
}